.About {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  width: 100%;
}
.About .container {
  width: 90%;
  margin: 0 auto;
}
.About .title {
padding-top: 3rem;
}
.About h2 {
  margin: 0;
}
.About h5 {
  font-family: 'Lora&display';
  font-weight: bold;
  font-size: 1.2rem;
}
.About p {
  margin: 3rem 5rem;
  font-weight: 300;
}