.About {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  width: 100%;
  height: calc(100vh - 180px);
}
.About .container {
  width: 90%;
  margin: 0 auto;
}
/* .About .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */
.About h2 {
  margin: 0 5rem;
}
.About h5 {
  margin: 0 5rem 0 5rem;
  font-family: 'Lora&display';
  font-weight: bold;
  font-size: 1.2rem;
}
.About p {
  margin: 0 5rem;
}