.first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.direction {
  display: flex;
  flex-direction: row;
}
.direction a {
  color: gray;
  font-family: Poppins;
  font-weight: normal;
}
/*.DetailedProductCard */
.DetailedProductCard {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  width: 100%;
  height: calc(100vh - 180px);
}
.DetailedProductCard .container {
  width: 90%;
  margin: 0 auto;
}
.DetailedProductCard .product-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 5rem;
}
.DetailedProductCard h2 {
  text-align: right;
}
.DetailedProductCard h5 {
  font-family: 'Lora&display';
  font-weight: bold;
  font-size: 1.5rem;
  text-align: right;
}
.DetailedProductCard .btn-admin {
  margin-bottom: 2rem;
  margin-right: 1rem;
  background-color: black;
}
.DetailedProductCard .btn-admin:hover {
  background-color: gray;
  border-color: gray;
}
.DetailedProductCard .btn-create {
  background-color: gray;
  color: #fff;
  border-radius: 5px;
  padding: .5rem;
}
.DetailedProductCard .btn-create:hover {
  background-color: black;
}
.DetailedProductCard .product-details picture {
  width: 100%;
  background-color: antiquewhite;
  display: flex;
  justify-content: flex-end;
}
.DetailedProductCard .product-details img {
  display: block;
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.DetailedProductCard .product-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: right;
}
.DetailedProductCard td {
  width: 20rem;
  text-align: right;
}
.DetailedProductCard tr, .DetailedProductCard .countInStock, .DetailedProductCard .brand {
  font-size: 1rem;
  font-weight: 300;
}
.DetailedProductCard td:nth-child(2) {
  font-size: 1.2rem;
}
.DetailedProductCard input {
  border: none;
  font-size: 1.2rem;
}
.DetailedProductCard td .price {
  font-size: 2rem;
  color: gray;
}
.DetailedProductCard .description {
  border-top: 1px solid black;
  padding-top: 1rem;
  padding-bottom: 3rem;
}
.DetailedProductCard .description p {
  font-size: .8rem;
  font-weight: 300;
}
.DetailedProductCard .add-btn {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0 ;
}

/* Edit product */

.ProductEditPage {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  width: 100%;
  height: calc(100vh - 180px);
}
.ProductEditPage .container {
  width: 90%;
  margin: 0 auto;
}
.ProductEditPage Form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  padding-top: 3rem;
}
.ProductEditPage Form input {
  width: 100%;
  padding: 8px 20px;
  margin: 3px 0;
  box-sizing: border-box;
}
.ProductEditPage Form textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
.ProductEditPage Form .form-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 3rem;
}
.ProductEditPage Form button {
  width: 10rem;
  margin: 2rem auto;
}
.ProductEditPage p {
  margin: 0;
  padding: 0;
}
.ProductEditPage h2 {
  margin: 0 5rem;
}
.ProductEditPage h5 {
  margin: 0 5rem 0 5rem;
  font-family: 'Lora&display';
  font-weight: bold;
  font-size: 1.2rem;
}