/*.DetailedProductCard */
.DetailedProductCard {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  width: 90vw;
}
.DetailedProductCard .container {
  width: 90%;
  margin: 0 auto;
}
.DetailedProductCard .title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.DetailedProductCard .title .h2 {
  margin: 0;
}
.DetailedProductCard .h5 {
  font-family: 'Lora&display';
  font-weight: bold;
  font-size: 1.2rem;
}
.DetailedProductCard .buttons {
  display: flex;
  justify-content: center;
  margin: 1rem 0 0 0;
  gap: 2rem;
}
.DetailedProductCard .btn-block {
  margin-bottom: 2rem;
  margin-right: 1rem;
  background-color: black;
}
.DetailedProductCard .btn-block:hover {
  background-color: gray;
  border-color: gray;
}
.DetailedProductCard .product-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: right;
}
.DetailedProductCard .product-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  margin-bottom: 1rem;
}
.DetailedProductCard .product-details table {
  border-bottom: 1px solid black;
}
.DetailedProductCard .product-details td {
  width: 15rem;
  text-align: right;
}
.DetailedProductCard tr, .DetailedProductCard .countInStock , .DetailedProductCard .brand {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 2rem;
}
.DetailedProductCard tr {
  position: relative;
}
.DetailedProductCard td:nth-child(2) {
  text-align: right;
}
.DetailedProductCard input {
  border: none;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: Roboto;

}
.DetailedProductCard td .price {
  font-size: 2rem;
  color: rgb(234, 93, 42);
  margin-bottom: 2rem;
  text-align: right;
}
.DetailedProductCard .description {
  border-top: 1px solid black;
  padding-top: 1rem;
  padding-bottom: 3rem;
}
.DetailedProductCard .description p {
  font-size: 1rem;
  font-weight: 200;
}
.DetailedProductCard .product-details .add-btn {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0 ;
  margin-top: 3rem;
}
.product-details picture {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product-details picture img {
  width: 30rem;
  height: 100%;
}
.product-details input {
  text-align: right;
}
.product-details .message {
  color:rgb(234, 93, 42)
}