.Store {
  padding: 0;
  background-color: #ffffff;
  width: 90vw;
}
.Store .container {
  width: 90%;
  margin: 0 auto;
}
.Store .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding-top: 2rem;
}
.Store h2 {
  margin: 0;
}
.Store h5 {
  font-family: 'Lora&display';
  font-weight: bold;
  font-size: 1.2rem;
}

.Create {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
.Create button {
  color:#ffffff;
  background-color: black;
  padding: 0.6em 1em;
  border-radius: 0.25rem;
  font-size: .8em;
}
.Create button:hover {
  background-color: gray;
  border-color: gray;
}
.Create .btn-create {
  background-color: gray;
  border-color: gray;
  color: white;
  padding: 0.6em 1em;
  border-radius: 0.25rem;
  font-size: .8em;
  margin-right: 5rem;
}
.Create .btn-create:hover {
  color:#ffffff;
  background-color: black;
}

.Store .productCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: .15rem;
}

