@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,500,700');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
:root {
  font-family: Roboto;
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul, li {
  list-style: none;
}
a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}
a:hover {
  color: gray;
}

main {
  flex: 1;
  min-height: 100vh;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 2rem;
  margin: 2rem 0 0 0;
}

h1 {
  font-size: 3.2em;
  font-weight: normal;
  line-height: 1.1;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 5em;
  border-radius: 3px;
  font-size: .8em;
  font-weight: 600;
  color: #fff;
  font-family: inherit;
  background-color: #fb790f;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: rgb(230, 86, 15);
  border-color:  rgb(196, 70, 7);
}

@media (prefers-color-scheme: light) {
  /* :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: gray;
  }
  button {
    background-color: #f9f9f9;
  } */
}